<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946235233302-e7cli43ouqo8bbgkglijbqfo1g4bbd1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946235233302-e7cli43ouqo8bbgkglijbqfo1g4bbd1g</string>
	<key>API_KEY</key>
	<string>AIzaSyBpTyWWBVqoJn_kVNGxtOt1VrGYGbzHVMA</string>
	<key>GCM_SENDER_ID</key>
	<string>946235233302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petpalui</string>
	<key>PROJECT_ID</key>
	<string>pet-pal-8ff20</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-pal-8ff20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946235233302:ios:a095afdc2df4c50e4d1137</string>
</dict>
</plist>